.searchBlock input{
    width:600px;
    display:flex;
    align-items: center;
    justify-content: center;
height:34px;
/*margin:10px -30px -8px;*/
border-radius: 2px;
}
form{
    position: relative;
}
.searchIcon{
    position :absolute;
    right:-29px!important;
    /* right:-13px; */
    top:1px;
    background: #e9ecef;
    height:34px;
    width:64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
