@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body{
    /* background: #141b29 ; */
    background:  linear-gradient(to bottom, rgb(20 27 41 ), rgb(12 17 27 ) 300px);
    font-family: "Roboto","HelveticaNeue-Light",sans-serif;
    font-size: 14px;
    
}
