<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates Learning....!</title>
</head>
<body>
<span>home</span>
<span>home</span>
<span>home</span>
<span>home</span>
<span>home</span>
<span>home</span>
<form action ></form>
<form action ></form>
<form action ></form>
<form action ></form>
<form action ></form>
<img src="" alt =""/>

<span class="badge first"></span>
<span class="badge second "></span>
<span class="badge third"></span>
<span class="badge fourth"></span>
<span class="badge fifth"></span>
<span class="badge six"></span>

<section id="Template"></section>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="App.js"></script>
</body>
</html>